{% set title = title|default('') %}
{% set img = img|default({url: '/images/placeholder.png', alt:''}) %}
{% set classes = classes|default('') %}
{% set url = url|default('#') %}

<div class="SimpleProduct simple {{ classes }}">
  <div class="SimpleProduct-mainContent">
    <a class="SimpleProduct-imgLink" href="{{ url }}">
      <figure class="SimpleProduct-img">
        <img src="{{ img.url }}" alt="{{ img.alt }}" title="{{ img.alt }}"  loading="lazy">
      </figure>
    </a>
    <div class="SimpleProduct-desc">
      <a href="{{ url }}" class="SimpleProduct-title">{{ title }}</a>
    </div>
  </div>
</div>
