{% set title = title|default('') %}
{% set description = description|default('') %}
{% set img = img|default({url: '/images/placeholder.png', alt:''}) %}
{% set classes = classes|default('') %}
{% set button = button|default({label: '', href:''}) %}
{% set url = url|default('#') %}

<div class="CategoryCard {{ classes }}">

  <div class="CategoryCard-mainContent">
    <a class="CategoryCard-imgLink" href="{{ url }}">
      <figure class="CategoryCard-img">
        <img src="{{ img.url }}" alt="{{ img.alt }}" title="{{ img.alt }}"  loading="lazy">
      </figure>
    </a>
    <div class="CategoryCard-desc">
      <a href="{{ url }}" class="CategoryCard-title">{{ title }}</a>
      <p class="paragraph-2">{{ description }}</p>
      {# 
      <div class="CategoryCard-footer">
          {% include '@components/Molecules/Link/Link.html.twig' with {customText: button.label | trans, href: button.href,iconRight:'arrow-right', size:"medium"} %}
      </div>
      #}
    </div>
  </div>
</div>
