{% set href = href|default('') %}
{% set classes = classes|default('') %}
{% set customText = customText|default('') %}
{% set subs = subs|default(null) %}

<li class="flex">
	
	{% if subs %}
	<div class="ItemHeader-sub">
 		<div class="ItemHeader-sub-current" tabindex="1">
    		
      			<div class="ItemHeader-sub-value ItemHeader">
        			<input class="ItemHeader-sub-input" type="radio" value="" name="{{ customText }}" checked="checked"/>
        			<p class="ItemHeader-sub-text">{{ customText }}</p>
      			</div>
  		</div>
  		<ul class="ItemHeader-sub-list">
    		{% for sub in subs %}
      			<li class="ItemHeader-sub-listItem">
        			<a tabindex="1" class="ItemHeader-sub-option" href="{{ sub.value }}" aria-hidden="true">{{ sub.label }}</a>
      			</li>
    		{% endfor %}
  		</ul>
	</div>
	{% else %}
	<a href='{{ href }}' class='ItemHeader {{ classes }}'>
		{{ customText }}
	</a>
	{% endif %}

</li>
