{% set type = type|default("generic") %}
{% set categories = resources('/api/front/categories')%}
{% set pageList = getPageList() %}


<header class='Header  {% if type == "sticky" %}is-sticky{% endif %} {% if type == "searchbar" %}Header--withSearchBar{% endif %}'>
	<div class='flex'>
		{% if type == "searchbar" %}
			<div class='hidden lg:block xl:hidden'>
				{% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with {icon: 'menu', text: 'Cart', classes: 'HeaderButton--light', small: true } %}
			</div>
		{% endif %}

		<div class='flex items-center self-center h-full'>
			<a href="/" class='Header-logo'>
				{{ ux_icon('menuiserieblanc') }}
			</a>
		</div>
	</div>
	{% if type == "searchbar" %}
		{{ component('Flexy:SearchBar') }}
	{% else %}
		<nav id="Menu">
			<button type="button" data-menu-back="-1">
				{{ ux_icon('arrow-left') }}
			</button>
			<button type="button" data-menu-close>
				{{ ux_icon('close') }}
			</button>
			{% set categoryContent %}
			<div class="flex flex-col ">
				{% for category in categories %}
              	<a href={{category.publicUrl}} >{{category.i18ns.title}}</a>
				{% endfor %}
				</div>
            {% endset %}
			{% set pageContent %}
			<div class="flex flex-col ">
				{% for page in pageList %}
              	<a href={{'/' ~ page.CODE}} >{{page.TITLE}}</a>
				{% endfor %}
				</div>
            {% endset %}
			<ul class="Header-navigation block md:hidden bg-white">
				{% include '@components/Molecules/Accordion/Accordion.html.twig' with {
             		title: 'Products'|trans,
              		content: categoryContent,
              		iconPlus: "plus",
              		iconMinus: "minus",
            	} %}
					
				{% include '@components/Molecules/Accordion/Accordion.html.twig' with {
             		title: 'Pages'|trans,
              		content: pageContent,
              		iconPlus: "plus",
              		iconMinus: "minus",
            	} %}
			</ul>
			<div class="Header-navigation hidden md:flex" >
					{% include '@components/Molecules/ItemHeader/ItemHeader.html.twig' with { customText: "Products"|trans, href: "", subs: categories|map(category => {label: category.i18ns.title, value: category.publicUrl})} %}
					{% for page in pageList %}
						{% include '@components/Molecules/ItemHeader/ItemHeader.html.twig' with { customText:page.TITLE , href:'/' ~ page.CODE}  %}
					{% endfor %}
					
			</div>
			
		</nav>
	{% endif %}

	{% include '@components/Organisms/HeaderNav/HeaderNav.html.twig' with {type: type} %}

	{% if type == "searchbar" %}
		<nav id="Menu" class='Header-navWrap'>
			<button type="button" data-menu-back="-1">
				{{ ux_icon('arrow-left') }}
			</button>
			<button type="button" data-menu-close>
				{{ ux_icon('close') }}
			</button>
			<ul class="Header-navigation">
				{% for category in categories %}
					{% include '@components/Molecules/ItemHeader/ItemHeader.html.twig' with { customText: category.i18ns.title, href: category.publicUrl} %}
				{% endfor %}
			</ul>
		</nav>
	{% endif %}
