{% set title = title|default('') %}
{% set description = description|default('') %}
{% set description = description|raw %}
{% set nbProducts = nbProducts|default(0) %}

<div class='Subheader Subheader--category'>
  <div class='flex flex-col w-full mx-auto'>
    <h1 class='Subheader-title'>{{ title }}</h1>
    {% if description %}
    <div class='Subheader-description'>
      {{ description |raw }}
    </div>
    {% endif %}
    {# 
    <div class='underline Subheader-link'>
      <a href='#' class='link-large'>{{ 'Read more'|trans }}</a>
    </div>
    #}
    <div class='Subheader-info Subheader-info--category'>
      <div>{{ nbProducts }} {{ 'product(s)'|trans }}</div>
      {% include '@components/Molecules/Button/Button.html.twig' with {text: 'Filter & Sort'|trans, icon_left:'filter', variant: 'secondary', classes:'open-toggleMenu', name: 'mobileFilter'} %}
    </div>
  </div>
</div>
