{% extends 'base.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('product') }}
{% endblock %}

{% set productId = attr('product', 'id') %}
{% set product = resources('/api/front/products/' ~ productId) %}

{% block title %}{{ product.i18ns.title }}{% endblock %}


{% set productCategory = product.productCategories|filter(c => c.defaultCategory)|first.category %}

{% block body %}

	<div class="px-6 lg:px-[120px] py-6">
  
		<div class="lg:justify-between lg:items-center mb-[29px] lg:flex">
      {# {{ component('Molecules:Breadcrumb:Breadcrumb', {
        items: [
          { href: productCategory.publicUrl|default('#'), label:productCategory.i18ns.title},
        ],
        backIcon: true
      }) }}  #}
      {{ component('Molecules:Breadcrumb:Breadcrumb', {
        items: [
          { href: "/", label:"Home" | trans},
        ],
        backIcon: true
      }) }}

		</div>

    <div class="lg:container lg:w-full md:w-[540px] sm:w-[340px] w-full mx-auto">
      <div class="lg:flex lg:justify-between gap-[46px]">
        <div>
          <section id="gallery" class="lg:sticky top-0">
            {% include '@components/Layout/ProductGallery/ProductGallery.html.twig' with {productId:productId } %}
          </section>
         
        </div>
        <aside class="lg:w-[400px] lg:mx-0 md:w-[540px] mx-auto">
          <h1 class="mb-3 h3 text-theme-dark">{{ product.i18ns.title }}</h1>
          <section id="description" class="">

            {% set featuresContent %}
              <p>todo</p>
            {% endset %}
            
            {% if product.i18ns.description|default(false) %}
              {% set descriptionContent %}
                <p>{{product.i18ns.description|default('')|raw}}</p>
              {% endset %}
              {% include '@components/Molecules/Accordion/Accordion.html.twig' with {
                title: 'Description'|trans,
                content: descriptionContent,
                iconPlus: "plus",
                iconMinus: "minus",
              } %}
            {% endif %}
            {% include '@components/Molecules/Accordion/Accordion.html.twig' with {
              title: 'Features'|trans,
              content: featuresContent,
              iconPlus: "plus",
              iconMinus: "minus",
            } %}
            {# {% include '@components/Molecules/Accordion/Accordion.html.twig' with {
              title: 'Shipping & Returns'|trans,
              content: "",
              iconPlus: "plus",
              iconMinus: "minus",
            } %}
            {% include '@components/Molecules/Accordion/Accordion.html.twig' with {
              title: 'Verified Reviews'|trans,
              content: "",
              iconPlus: "plus",
              iconMinus: "minus",
            } %} #}
          </section>
          {# {% set chapo = attr('product', 'chapo') %}
          {% if chapo %}
            <div class="paragraph-3">{{ chapo }}</div>
          {% endif %}
          <div class="flex items-center justify-between mt-[30px]">
            <div class="flex items-center gap-2">
              {% include '@components/Molecules/Score/Score.html.twig' with {score: 3} %}
              <span class="indication text-grey">12 {{ 'reviews'|trans }}</span>
            </div>
            {% include '@components/Molecules/OrderTag/OrderTag.html.twig' with { customText: 'In stock'|trans, variant: 'success', type: 'minimal' } %}
          </div>
          {% set attributes = getAttributesAndValues(productId) %} #}

          {# {% include '@react/Layout/PseSelector/PseSelector.twig' %} #}

          {#     TODO : ajouter les couleurs aux attributs (voir ex commenté)    #}
          {#          {% set colors = [ #}
          {#            { value: 1, color: '#6969B3', label: 'State Blue' }, #}
          {#            { value: 2, color: '#FFB698', label: 'Vermillon' }, #}
          {#            { value: 3, color: '#767676', label: 'Grey' }, #}
          {#            { value: 4, color: '#84DCC6', label: 'Tiffany Blue', disabled: true }, #}
          {#            { value: 5, color: '#DD6E42', label: 'Sienna' }, #}
          {#            { value: 6, color: '#C17767', label: 'Old Rose' }, #}
          {#          ] %} #}
          {#          <div class="mt-4"> #}
          {#            {% include '@components/Organisms/Modules/Filters/FilterColor.html.twig' with {options: colors, name: 'color', label: 'Couleur',id: 'filterColor'} %} #}
          {#          </div> #}

          {# <div class="mt-[30px]">
            {% include '@components/Molecules/Button/QuantityButton.html.twig' with {value:1, classes:'Button--large', text:'Add to cart'|trans, icon:'cart', fill:true} %}
          </div> #}
          <div class="mt-[30px]">
            {% include '@components/Molecules/Button/Button.html.twig' with {text: "Request a quote" | trans, variant:"primary", fill: true} %}
          </div>
          <div class="mt-[30px]">
            {% include '@components/Organisms/Reinsurance/Reinsurance.html.twig' with {data: [
              {
                strongText: 'Response to your request'|trans,
                text: 'within 48h'|trans,
                icon: 'estimate'
              },
              {
                strongText: 'Measurements taken'|trans,
                text: 'by an expert'|trans,
                icon: 'mesuring'
              }
            ]} %}
          </div>
        </aside>
      </div>
    </div>

    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8 mb-[40px]">
    </div>
  </div>



		{{ component('Flexy:CrossSelling', {categoryId: productCategory.id, title: 'Discover our other' | trans ~' '~productCategory.i18ns.title}) }}

{% endblock %}
